*~
*.log
config.status
auto.cgpr
CHANGES
access.xml
acc.xml
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
Makefile.conf
autom4te.cache
jason_tests.gpr
jason-tests.xml
jason.gpr
jason_server.gpr
*.txt
*.gcov
*.mat
rules.mk
stamp-aws
stamp-configure
stamp-xmlada
lib/
obj/
