*~
*.log
auto.cgpr
CHANGES
access.xml
acc.xml
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
Makefile.conf
jason-tests.xml
*.txt
*.gcov
*.mat
rules.mk
stamp-aws
stamp-configure
stamp-xmlada
lib/
obj/
