<!-- Create a new wiki page
  -  Copyright (C) 2015 Stephane Carrez
  -  Written by Stephane Carrez (Stephane.Carrez@gmail.com)
  -
  -  Licensed under the Apache License, Version 2.0 (the "License");
  -  you may not use this file except in compliance with the License.
  -  You may obtain a copy of the License at
  -
  -      http://www.apache.org/licenses/LICENSE-2.0
  -
  -  Unless required by applicable law or agreed to in writing, software
  -  distributed under the License is distributed on an "AS IS" BASIS,
  -  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -  See the License for the specific language governing permissions and
  -  limitations under the License.
  -->
<ui:composition template="/WEB-INF/layouts/layout.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <ui:param name="title" value="#{wikiMsg.wiki_admin_create_page_title}"/>
    <ui:param name="pageStyle" value="page-wiki"/>

    <!-- Main page body -->
    <ui:define name="pageBody">
        <f:metadata>
            <f:viewAction action='#{wikiPage.setup}'/>
            <f:viewAction action="#{project.load_wiki}"/>
        </f:metadata>

        <div id='awa-content'>
            <h:panelGroup rendered="#{project.id}">
                <ui:include src="/projects/views/project-header.xhtml"/>
             </h:panelGroup>
            <ui:include src="views/wiki-nav.xhtml">
                <ui:param name="wikiSpaceId" value="#{wikiPage.wiki_id}"/>
                <ui:param name="page_link" value="/grid"/>
            </ui:include>
            <div id='wiki-page-create' class='blog-edit-post'>
                <ui:include src="forms/page-create.xhtml"/>
            </div>
        </div>
    </ui:define>
</ui:composition>

