<!-- Information about a wiki page
  -  Copyright (C) 2016 Stephane Carrez
  -  Written by Stephane Carrez (Stephane.Carrez@gmail.com)
  -
  -  Licensed under the Apache License, Version 2.0 (the "License");
  -  you may not use this file except in compliance with the License.
  -  You may obtain a copy of the License at
  -
  -      http://www.apache.org/licenses/LICENSE-2.0
  -
  -  Unless required by applicable law or agreed to in writing, software
  -  distributed under the License is distributed on an "AS IS" BASIS,
  -  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -  See the License for the specific language governing permissions and
  -  limitations under the License.
  -->
<ui:composition template="/WEB-INF/layouts/layout.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:awa="http://code.google.com/p/ada-awa/jsf"
                xmlns:c="http://java.sun.com/jstl/core"
                xmlns:ajax="http://code.google.com/p/ada-asf/ajax"
                xmlns:util="http://code.google.com/p/ada-asf/util"
                xmlns:h="http://java.sun.com/jsf/html">
    <ui:param name="title" value="#{wikiMsg.wiki_history_list_title}"/>
    <ui:param name="pageStyle" value="page-wiki"/>

    <!-- Main page body -->
    <ui:define name="pageBody">
        <f:metadata>
            <f:viewAction action='#{wikiPageInfo.load}'/>
            <f:viewAction action="#{project.load_wiki}"/>
        </f:metadata>
        <div id='awa-content'>
            <h:panelGroup rendered="#{project.id}">
                <ui:include src="/projects/views/project-header.xhtml"/>
             </h:panelGroup>
            <ui:include src="views/wiki-nav.xhtml">
                <ui:param name="wikiSpaceId" value="#{wikiPageInfo.wiki_id}"/>
                <ui:param name="page_link" value="/grid"/>
            </ui:include>
            <ui:include src="views/page-info.xhtml"/>
        </div>
     </ui:define>

    <ui:define name="pageScript">
        <script type="text/javascript" src="#{contextPath}/js/jquery.flot.js"></script>
        <script type="text/javascript" src="#{contextPath}/js/jquery.flot.time.js"></script>
    </ui:define>

</ui:composition>

