<ui:composition xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jstl/core"
                template="/WEB-INF/layouts/layout.xhtml">
    <ui:param name="title" value="#{ticketMsg.tickets_title}" />
    <ui:param name="pageStyle" value="page-tickets"/>
    <ui:param name="top_nav" value="projects"/>

    <!-- Main page body -->
    <ui:define name="pageBody">
        <f:metadata>
            <f:viewAction action='#{ticket.load}'/>
        </f:metadata>
        <div id='awa-content'>
            <ui:include src="/projects/views/project-header.xhtml"/>
            <ui:include src="forms/edit-form.xhtml"/>
        </div>
    </ui:define>
    <ui:define name="pageScript">
        <script type="text/javascript" src="#{jquery.chosenPath}"></script>
    </ui:define>

</ui:composition>
