.project-header {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 1em;
    border-bottom: 2px solid #47C;
}
.project-title {
    float: left;
    clear: both;
    width: 95%;
    padding-bottom: 2px;
    padding-left: 48px;
}
.project-title h2 {
    line-height: 1.33em;
    font-size: 1.33em;
}
.project-title {
    background: url(../images/projects/icon-project-manager-26.png) no-repeat;
}
.project-description {
    float: left;
    padding: 1%;
    width: 98%;
}
.project-ticket-list, .project-list {
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    width: 98%;
    margin-top: 1em;
}
.project-tickets {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 1em;
}
.project-tickets h3 {
    line-height: 1.1em;
    font-size: 1.1em;
}
.project-list-title {
    width: 60%;
}
.project-list-status {
    width: 10%;
}
.project-list-create-date {
    width: 20%;
}
.project-list-ticket-count {
    width: 10%;
}
.project-tickets .awa-page-actions {
    float: left;
}
.asf-panel-box {
    display: none;
}
.asf-panel-close, .asf-panel-content {
    float: left;
    width: 100%;
}
.project-header-tab {
    list-style-type: none;
    float: left;
    background: #eee;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5em;
}
.project-header-tab li {
    float: left;
}
.project-header-tab span {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.project-header-tab a {
    text-decoration: none;
}
.page-summary .project-header-tab .project-tab-summary,
.page-tickets .project-header-tab .project-tab-tickets,
.page-wiki .project-header-tab .project-tab-wiki {
    background: white;
}
.project-create-wiki-title {
    padding: 2.0em;
    text-align: center;
}
.project-create-wiki-desc {
    padding: 1.0em;
}
.project-sum-list {
    float: left;
    width: 100%;
}
.project-sum-type {
    float: left;
    width: 100%;
    clear: both;
}
.project-sum-col {
    width: 15%;
    height: 1em;
}
.project-title-col {
    width: 25%;
    display: block;
    height: 1em;
}
