.project-title {
    float: left;
    clear: both;
    width: 95%;
    margin-top: 15px;
    border-bottom: 2px solid #47C;
    padding-bottom: 2px;
    padding-left: 48px;
}
.project-title h2 {
    line-height: 1.33em;
    font-size: 1.33em;
}
.project-title {
    background: url(../images/projects/project-view-26.png) no-repeat;
}
.project-ticket-list {
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    width: 98%;
    margin-top: 1em;
}
.project-tickets {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 1em;
}
.project-tickets h3 {
    line-height: 1.1em;
    font-size: 1.1em;
}