.ticket-title {
    float: left;
    clear: both;
    width: 95%;
    margin-top: 15px;
    border-bottom: 2px solid #47C;
    padding-bottom: 2px;
    padding-left: 48px;
}
.ticket-title h2 {
    line-height: 1.33em;
    font-size: 1.33em;
}
.ticket-title {
    background: url(../images/tickets/ticket-icon-26.png) no-repeat;
}

.ticket-list-ident, .ticket-list-priority, .ticket-list-status {
    width: 10%;
}
.ticket-list-summary {
    width: 30%;
}
.ticket-list-create-date {
    width: 20%;
}
.ticket-list-submitter {
    width: 10%;
}
.ticket-list-priority span {
    width: 40px;
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-align: center;
}
.ticket-prio-1 span {
    background-color: red;
    color: white;
}
.ticket-prio-2 span {
    background-color: orange;
}
.ticket-prio-3 span {
    background-color: yellow;
}
.ticket-prio-4 span {
    background-color: green;
}
.ticket-prio-5 span {
    background-color: blue;
    color: white;
}