.ticket-title {
    float: left;
    clear: both;
    width: 95%;
    margin-top: 15px;
    border-bottom: 2px solid #47C;
    padding-bottom: 2px;
    padding-left: 48px;
}
.ticket-title h2 {
    line-height: 1.33em;
    font-size: 1.33em;
}
.ticket-title {
    background: url(../images/tickets/ticket-icon-26.png) no-repeat;
}
.ticket-list-ident, .ticket-list-priority {
    width: 100px;
}
.ticket-list-status, .ticket-list-type {
    width: 10%;
}
.ticket-list-summary {
    width: 30%;
}
.ticket-list-create-date {
    width: 20%;
}
.ticket-list-submitter {
    width: 10%;
}
.ticket-list-priority span {
    width: 40px;
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-align: center;
}
.ticket-prio-1 span {
    background-color: red;
    color: white;
}
.ticket-prio-2 span {
    background-color: orange;
}
.ticket-prio-3 span {
    background-color: yellow;
}
.ticket-prio-4 span {
    background-color: green;
}
.ticket-prio-5 span {
    background-color: blue;
    color: white;
}
.ticket-info {
    float: left;
    width: 98%;
    padding: 1%;
}
.ticket-info dt, .ticket-progress-info dt {
    float: left;
    clear: both;
    width: 20%;
}
.ticket-info dd, .ticket-progress-info dd {
    float: left;
    width: 80%;
}
.ticket-list-type {
    padding-left: 28px;
    width: 8%;
    height: 28px;
}
.ticket-ISSUE .ticket-list-type, .ticket-icon-ISSUE {
    background: url(../images/tickets/icon-ticket-issue-26.png) no-repeat;
}
.ticket-WORK .ticket-list-type, .ticket-icon-WORK {
    background: url(../images/tickets/icon-task-26.png) no-repeat;
}
.ticket-INCIDENT .ticket-list-type, .ticket-icon-INCIDENT {
    background: url(../images/tickets/icon-ticket-incident-26.png) no-repeat;
}
.ticket-nav-filter {
    padding-top: 10px;
    padding-bottom: 10px;
}
#ticket-nav-sort, #ticket-nav-priority, #ticket-nav-type {
    width: 20%;
}