<div class='awa-form ui-widget'
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:awa="http://code.google.com/p/ada-awa/jsf"
     xmlns:w="http://code.google.com/p/ada-asf/widget"
     xmlns:util="http://code.google.com/p/ada-asf/util"
     xmlns:h="http://java.sun.com/jsf/html">

    <h:form id='edit-form'>
        <h:inputHidden id='entity-id' value='#{project.id}' required='false'/>
        <div class='container_12'>
            <div class='awa-messages'>
                <h:message styleClass='awa-error'/>
            </div>
            <w:inputText styleClass="awa-required ui-corner-all"
                         id='title' size='50' required='true' value='#{project.name}'
                         title='#{projectMsg.projects_edit_title_label}'/>
            <dl class="awa-required#{util:hasMessage('ptags') ? ' awa-error' : ''}">
                <dt>
                    <label for='qtags'>#{projectMsg.project_tags_label}</label>
                </dt>
                <dd>
                    <awa:tagList value='#{project.tags}' id='ptags'
                                 autoCompleteUrl='#{contextPath}/projects/lists/tag-search.html'/>
                </dd>
            </dl>
            <dl class="awa-required#{util:hasMessage('description') ? ' awa-error' : ''}">
                <dt>
                    <label for='text'>#{projectMsg.project_description_label}</label>
                </dt>
                <dd class="wiki-text">
                    <h:inputTextarea id='description' rows='20' required='true'
                                     value='#{project.description}'/>
                </dd>
            </dl>
            <ul class='awa-buttons'>
                <li>
                    <h:commandButton id='save' value='#{projectMsg.project_save_button}'
                                     action="#{project.save}"
                                     styleClass="ui-button ui-state-default ui-corner-all"/>
                </li>
            </ul>
        </div>
        <util:script>
            $('#description').trumbowyg({ btns: ['formatting', '|', 'link', '|', 'image',
              'btnGrp-justify', '|', 'btnGrp-lists']});
        </util:script>
    </h:form>

</div>
