<ui:composition xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jstl/core"
                template="/WEB-INF/layouts/layout.xhtml">
    <ui:param name="title" value="#{projectMsg.projects_title}" />
    <ui:param name="pageStyle" value="page-projects"/>
    <ui:param name="top_nav" value="projects"/>

    <!-- Main page body -->
    <ui:define name="pageBody">
        <f:metadata>
            <f:viewAction action='#{project.load}'/>
        </f:metadata>
        <div id='awa-content'>
            <ui:include src="/projects/views/project-header.xhtml"/>
            <ui:include src="forms/edit-form.xhtml"/>
        </div>
    </ui:define>

</ui:composition>
