<ui:composition xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jstl/core"
                template="/WEB-INF/layouts/layout.xhtml">
    <ui:param name="title" value="#{projectMsg.project_list_page_title}"/>
    <ui:param name="pageStyle" value="page-projects"/>
    <ui:param name="top_nav" value="projects"/>

    <!-- Main page body -->
    <ui:define name="pageBody">
        <f:metadata>
            <f:viewParam id='page' value='#{projectList.page}' required="false"/>
            <f:viewAction action='#{projectList.load}'/>
        </f:metadata>
        <div id='awa-content'>
            <ui:include src="/projects/views/workspace-nav.xhtml">
                <ui:param name="project_id" value="#{ticket.project_id}"/>
            </ui:include>
            <div class='project-list awa-list-header' id="project-list-header">
                <div class="awa-list-item-header">
                    <div class='awa-header-col project-list-title'>
                        #{projectMsg.project_list_title_label}
                    </div>
                    <div class='awa-header-col project-list-create-date'>
                        #{projectMsg.project_list_create_date_label}
                    </div>
                    <div class='awa-header-col project-list-open-count'>
                        #{projectMsg.project_list_open_count_label}
                    </div>
                    <div class='awa-header-col project-list-close-count'>
                        #{projectMsg.project_list_closed_count_label}
                    </div>
                    <div class='awa-header-col project-list-progress'>
                       #{projectMsg.project_list_progress_label}
                   </div>
                    <div class='awa-header-col project-list-remain'>
                        #{projectMsg.project_list_remain_label}
                    </div>
                    <div class='awa-header-col project-list-done'>
                        #{projectMsg.project_list_done_label}
                    </div>
                </div>
            </div>
            <div class="project-list">
                <ui:include src="lists/project-list.xhtml"/>
            </div>
        </div>
    </ui:define>
</ui:composition>
