<div class='awa-form'
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:awa="http://code.google.com/p/ada-awa/jsf"
     xmlns:w="http://code.google.com/p/ada-asf/widget"
     xmlns:util="http://code.google.com/p/ada-asf/util"
     xmlns:h="http://java.sun.com/jsf/html">

    <h:form id='create-form'>
        <h:inputHidden id='entity-id' value='#{ticket.id}' required='false'/>
        <h:inputHidden id='project-id' value='#{ticket.project_id}' required='true'/>
        <div class='container_12'>
            <h2>#{ticketMsg.ticket_creation_title}</h2>
            <w:inputText styleClass="awa-required ui-corner-all"
                         id='summary' size='50' required='true' value='#{ticket.summary}'
                         placeholder="#{ticketMsg.ticket_summary_placeholder}"
                         title='#{ticketMsg.ticket_summary_label}'/>
            <dl class="awa-required#{util:hasMessage('ptags') ? ' awa-error' : ''}">
                <dt>
                    <label for='qtags'>#{ticketMsg.ticket_tags_label}</label>
                </dt>
                <dd>
                    <awa:tagList value='#{ticket.tags}' id='ptags'
                                 autoCompleteUrl='#{contextPath}/tickets/lists/tag-search.html'/>
                </dd>
            </dl>
            <div class="grid_4">
                <dl class="ui-corner-all awa-required#{util:hasMessage('type') ? ' awa-error' : ''}">
                    <dt>
                        <label for='type'>#{ticketMsg.ticket_type_label}</label>
                    </dt>
                    <dd>
                        <w:chosen id="type" value="#{ticket.ticket_type}">
                            <f:selectItems value="#{ticketTypeList}"/>
                            <f:facet name="options">width: "60%",disable_search: true</f:facet>
                        </w:chosen>
                    </dd>
                </dl>
            </div>
            <dl class="ui-corner-all awa-required#{util:hasMessage('description') ? ' awa-error' : ''}">
                <dt>
                    <label for='text'>#{ticketMsg.ticket_description_label}</label>
                </dt>
                <dd class="wiki-text">
                    <h:inputTextarea id='description' rows='20' required='true'
                                     placeholder="#{ticketMsg.ticket_description_placeholder}"
                                     value='#{ticket.description}'/>
                </dd>
            </dl>
            <ul class='awa-buttons'>
                <li>
                    <h:commandButton id='save' value='#{ticketMsg.ticket_create_button}'
                                     action="#{ticket.create}"
                            styleClass="ui-button ui-state-default ui-corner-all"/>
                </li>
            </ul>
        </div>
    </h:form>
    <util:script>
        $('#description').trumbowyg({ btns: ['formatting', '|', 'link', '|', 'image',
          'btnGrp-justify', '|', 'btnGrp-semantic', '|', 'btnGrp-lists']});
    </util:script>
</div>
