<div class='awa-form ui-widget'
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:awa="http://code.google.com/p/ada-awa/jsf"
     xmlns:w="http://code.google.com/p/ada-asf/widget"
     xmlns:util="http://code.google.com/p/ada-asf/util"
     xmlns:h="http://java.sun.com/jsf/html">

    <h:form id='edit-form'>
        <h:inputHidden id='entity-id' value='#{ticket.id}' required='false'/>
        <h:inputHidden id='project-id' value='#{ticket.project_id}' required='false'/>
        <h:inputHidden id='priority' value='#{ticket.priority}' required='false'/>
        <div class='container_12'>
            <h2>Ticket #{ticket.id} - #{ticket.summary}</h2>
            <div class='awa-messages'>
                <h:message styleClass='awa-error'/>
            </div>
            <w:inputText styleClass="awa-required ui-corner-all"
                         id='summary' size='50' required='true' value='#{ticket.summary}'
                         title='#{ticketMsg.ticket_summary_label}'/>
            <dl class="awa-required#{util:hasMessage('ptags') ? ' awa-error' : ''}">
                <dt>
                    <label for='qtags'>#{ticketMsg.ticket_tags_label}</label>
                </dt>
                <dd>
                    <awa:tagList value='#{ticket.tags}' id='ptags'
                                 autoCompleteUrl='#{contextPath}/tickets/lists/tag-search.html'/>
                </dd>
            </dl>
            <div class="grid_4">
                <dl class="awa-required#{util:hasMessage('type') ? ' awa-error' : ''}">
                    <dt>
                        <label for='type'>#{ticketMsg.ticket_type_label}</label>
                    </dt>
                    <dd>
                        <w:chosen id="type" value="#{ticket.ticket_type}">
                            <f:selectItems value="#{ticketTypeList}"/>
                            <f:facet name="options">width: "60%",disable_search: true</f:facet>
                        </w:chosen>
                    </dd>
                </dl>
            </div>
            <div class="grid_4">
                <dl class="awa-required#{util:hasMessage('status') ? ' awa-error' : ''}">
                    <dt>
                        <label for='status'>#{ticketMsg.ticket_status_label}</label>
                    </dt>
                    <dd>
                        <w:chosen id="status" value="#{ticket.status}">
                            <f:selectItems value="#{ticketStatusList}"/>
                            <f:facet name="options">width: "60%",disable_search: true</f:facet>
                        </w:chosen>
                    </dd>
                </dl>
            </div>
            <div class="grid_4">
                <dl class="awa-required#{util:hasMessage('priority') ? ' awa-error' : ''}">
                    <dt>
                        <label for='priority'>#{ticketMsg.ticket_priority_label} (<span id="p-value"></span>)</label>
                    </dt>
                    <dd id="slider">

                    </dd>
                </dl>
            </div>
            <dl class="awa-required#{util:hasMessage('description') ? ' awa-error' : ''}">
                <dt>
                    <label for='text'>#{ticketMsg.ticket_description_label}</label>
                </dt>
                <dd class="wiki-text">
                    <h:inputTextarea id='description' rows='20' required='true'
                                     value='#{ticket.description}'/>
                </dd>
            </dl>
            <ul class='awa-buttons'>
                <li>
                    <h:commandButton id='save' value='#{ticketMsg.ticket_save_button}'
                                     action="#{ticket.save}"
                                     styleClass="ui-button ui-state-default ui-corner-all"/>
                </li>
            </ul>
        </div>
        <util:script>
            function set_priority(val) {
                var labels = ["Emergency", "Critical", "High", "Medium", "Low"];
                $( "#priority" ).val(val);
                $("#p-value").text(labels[val - 1]);
            }
$( "#slider" ).slider({
  value: #{ticket.priority},
  min: 1,
  max: 5,
  step: 1,
  slide: function( event, ui ) {
            set_priority(ui.value);
  }
});
                $('#description').trumbowyg({ btns: ['formatting', '|', 'link', '|', 'image',
                  'btnGrp-justify', '|', 'btnGrp-semantic', '|', 'btnGrp-lists']});
</util:script>
    </h:form>

</div>
