<f:view contentType="text/html; charset=UTF-8"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:c="http://java.sun.com/jstl/core"
	xmlns:u="http://code.google.com/p/ada-asf/util"
        xmlns:h="http://java.sun.com/jsf/html"><h:doctype rootElement="html"/>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/grids/reset.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/grids/fluid_grid.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/asf.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/awa.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/users.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{jquery.uiCssPath}"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{jquery.chosenCssPath}"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/users.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/comments.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/blogs.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/wikis.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/projects.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/tickets.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/jquery.tagedit.css"/>
    <ui:insert name="pageHeader"/>
    <title><h:outputText value="#{title}"/></title>
</head>
<body class="#{not empty pageStyle ? pageStyle : ''}">

<!-- Top header with user account -->
<ui:include src="top-bar.xhtml"/>

<div id='awa-page' class='container_12'>
    <ui:insert name="pageBody"/>
    <div id="awa-clfooter"></div>
</div>
<ui:include src="footer.xhtml"/>

<script type="text/javascript" src="#{jquery.path}"></script>
<script type="text/javascript" src="#{jquery.uiPath}core.js"></script>
<script type="text/javascript" src="#{jquery.uiPath}widget.js"></script>
<script type="text/javascript" src="#{jquery.uiPath}position.js"></script>
<script type="text/javascript" src="#{jquery.uiPath}mouse.js"></script>
<script type="text/javascript" src="#{jquery.uiPath}draggable.js"></script>
<script type="text/javascript" src="#{jquery.uiPath}resizable.js"></script>
<script type="text/javascript" src="#{jquery.uiPath}sortable.js"></script>
<script type="text/javascript" src="#{jquery.uiPath}dialog.js"></script>
<script type="text/javascript" src="#{jquery.uiPath}tabs.js"></script>
<script type="text/javascript" src="#{jquery.uiPath}menu.js"></script>
<script type="text/javascript" src="#{jquery.uiPath}autocomplete.js"></script>
<script type="text/javascript" src="#{jquery.uiPath}button.js"></script>
<script type="text/javascript" src="#{jquery.uiPath}slider.js"></script>
<script type="text/javascript" src="#{contextPath}/js/asf-message.js"></script>
<script type="text/javascript" src="#{contextPath}/js/asf.js"></script>
<script type="text/javascript" src="#{contextPath}/js/asf-widgets.js"></script>
<script type="text/javascript" src="#{contextPath}/js/asf-list.js"></script>
<script type="text/javascript" src="#{contextPath}/js/jquery.autoGrowInput.js"></script>
<script type="text/javascript" src="#{contextPath}/js/jquery.tagedit.js"></script>
<ui:insert name="pageScript"/>
<!--DEV_START-->
<ui:debug/>
<!--DEV_END-->
</body>
</html>
</f:view>